.faq {
  padding: $rhythmLg13 0 $rhythmLg5;
  @media (max-width: $md) {
    padding: 40rem 0 60rem;
  }
  &__container {
  }
  &__title {
    margin-bottom: $rhythmLg2;
    @media (max-width: $sm) {
      margin-bottom: var(--gap-fluid);
    }
  }
  &__list {
    &-card {
      border-bottom: 1px solid $accentColor;
      &:first-child {
        border-top: 1px solid $accentColor;
      }
    }
  }
}