.settings-user {
  &__inner {
    height: 100%;
    padding: 34rem var(--gap-fluid) var(--gap-fluid);
    overflow-y: auto;
    @media (max-width: $md) {
      padding-top: 0;
    }
    @media (max-width: $sm) {
      padding-right: 16rem;
      padding-left: 16rem;
    }
  }
  &__title {
    margin: 0 0 $rhythmLg3;
    font-weight: 600;
    @media (max-width: $md) {
      margin-bottom: var(--gap-fluid);
      font-weight: bold;
      font-size: var(--fs-1);
    }
  }
  &__row {
  }
  &__col {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-fluid);
    &--settings {
      @media (max-width: $lg) {
        max-width: 100%;
        margin-bottom: var(--gap-fluid);
        flex-basis: 100%;
      }
    }
    &--subscription {
      @media (max-width: $lg) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    &--faq {
    }
  }
  &__box {
    background: $whiteColor;
    padding: $rhythmLg6 $rhythmLg12;
    color: $blackFullColor;
    border-radius: $radiusMd;
    @media (max-width: $lg) {
      padding: 32rem 16rem;
    }
    &--profile {
    }
    &--whatsapp {
    }
    &--useful {
      height: 100%;
    }
    &--subscription {
    }
    &--support {
      height: 100%;
    }
    &--faq {
      margin-top: var(--gap-fluid);
    }
    &-header {
      margin: 0 0 $rhythmLg8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $md) {
        flex-wrap: wrap;
      }
      &-title {
        margin: 0;
        @media (max-width: $md) {
          width: 100%;
        }
      }
      &-plan {
        display: flex;
        flex-shrink: 0;
        @media (max-width: $md) {
          margin: 32rem -4rem 0 0;
          justify-content: flex-end;
          font-size: var(--fs-4);
          flex-grow: 1;
        }
        &-name {
          margin: 0;
          font-weight: 600;
          margin: 0 0 0 33rem;
          @media (max-width: $md) {
            margin-left: 13rem;
          }
          &.is-free {
            color: $mediumGreyColor;
          }
          &.is-pro {
            color: $accentColor;
          }
        }
      }
    }
    &-profile {
    }
    &-whatsapp {
    }
    &-item {
      margin: 0 0 $rhythmLg8;
      &-el {
        max-width: 100%;
      }
      &-title {
        margin: 0 0 $rhythmLg15;
      }
      &-text {
        margin: 0;
        font-size: var(--fs-5);
        line-height: $lineHeight2;
        color: $mediumGreyColor;
      }
      &-change {
        margin-top: $rhythmLg15;
        vertical-align: top;
      }
      &-status {
        margin: 0;
        &.is-disabled {
          color: $redColor;
        }
      }
    }
    &-footer {
      padding: $rhythmLg8 0 0;
      border-top: 1px solid $mediumGreyColor;
      &-action {
      }
      &-description {
        max-width: 144rem;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        font-size: var(--fs-6);
        line-height: $lineHeight4;
        color: $mediumGreyColor;
        @media (max-width: $sm) {
          max-width: 194rem;
        }
      }
    }
    &-description {
      margin: 0 0 $rhythmLg7;
      font-size: var(--fs-6);
      line-height: $lineHeight4;
      color: $mediumGreyColor;
    }
    &-links {
      &:not(:last-child) {
        margin-bottom: $rhythmLg8;
      }
      &-title {
        margin: 0 0 $rhythmLg7;
      }
    }
    &-support {
      &-text {
        margin: $rhythmLg14 0 $rhythmLg8;
        font-size: var(--fs-6);
        line-height: $lineHeight4;
      }
    }
    &-faq {
      @media (max-width: $lg) {
        margin-top: -12rem;
      }
      &-card {
        border-bottom: 1px solid $accentColor;
      }
    }
    &-plan {
      &-list {
        &-card {
          margin-bottom: $rhythmLg8;
        }
      }
    }
    &-subscription {
      &-line {
        margin-bottom: $rhythmLg8;
      }
      &-btn {
        width: 100%;
      }
      &-footer {
        margin-top: $rhythmLg14;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-privacy {
          margin: 0;
          padding: 0;
          display: flex;
          list-style-type: none;
          font-weight: bold;
          font-size: var(--fs-6);
          line-height: $lineHeight2;
          li {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            &:not(:last-child) {
              &:after {
                margin: 0 4rem;
                content: '\007C';
                flex-shrink: 0;
              }
            }
          }
          a {
            transition: $transition;
            &:hover {
              text-decoration: none;
              @media (min-width: $lg-mf) {
                color: $accentColor;
              }
            }
          }
        }
        &-desc {
          margin: 0;
          font-size: var(--fs-6);
          line-height: $lineHeight4;
          color: $mediumGreyColor;
        }
      }
    }
  }
}