<header class="chat-header-mobile">
  <div class="container container--size-md chat-header-mobile__container">
    <div class="chat-header-mobile__inner">
      <button type="button" class="js-chat-menu-open chat-header-mobile__toggle">
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#menu-open"></use>
        </svg>
      </button>
      <a href="chat.html" class="btn btn--size-xs btn--theme-white chat-header-mobile__btn-new-chat">
        <span class="btn__inner">
          <span class="btn__title">Новый чат</span>
          <span class="btn__icon btn__icon--dir-rtl">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus-type-2"></use>
            </svg>
          </span>
        </span>
      </a>
    </div>
  </div>
</header>