<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col footer__col footer__col--logo">
        <a href="/" class="logo logo--size-md footer__logo">
          <svg width="58" height="24" viewBox="0 0 58 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo__svg"><path class="logo__svg-dot" d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z" fill="#0057FF"/><path d="M55.5 24V0H58V24H55.5Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M38.9958 0L28 24H30.6459L40.2328 2.62356L49.8198 24H52.5L41.5042 0H38.9958ZM39.7174 1.47429L40.2328 2.62356L40.7482 1.47429H39.7174Z" fill="white"/><path d="M40.7482 1.47429H39.7174L40.2328 2.62356L40.7482 1.47429Z" fill="white"/></svg>
        </a>
      </div>
      <div class="row__col footer__col footer__col--nav">
        <nav role="navigation" class="footer__nav footer__nav--theme-white">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Возможности</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Для кого</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Шаблоны</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Метрики</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Отзывы</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
        <div class="d-lg-block">
          <button data-modal="popup-registration" class="btn btn--size-lg btn--theme-accent btn--state-accent-simple-hover footer__btn-appeal">
            <span class="btn__inner">
              <span class="btn__title">Попробовать сейчас</span>
            </span>
          </button>
        </div>
        <nav role="navigation" class="footer__nav footer__nav--theme-grey">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="contacts.html" class="footer__nav-link">Контакты</a>
            </li>
            <li class="footer__nav-item">
              <a href="privacy.html" class="footer__nav-link">Политика конфиденциальности</a>
            </li>
            <li class="footer__nav-item">
              <a href="terms.html" class="footer__nav-link">Условия использования</a>
            </li>
            <li class="footer__nav-item">
              <a href="offer.html" class="footer__nav-link">Договор оферты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-lg-none row__col footer__col footer__col--action">
        <button data-modal="popup-registration" class="btn btn--size-lg btn--theme-accent btn--state-accent-simple-hover footer__btn-appeal">
          <span class="btn__inner">
            <span class="btn__title">Попробовать сейчас</span>
          </span>
        </button>
      </div>
    </div>
    <p class="footer__copyright">© 2024 Optimal AI.&nbsp;<br class="d-sm-none">Все права защищены</p>
  </div>
</footer>